.container {
    display: flex;
    align-items: center;
    padding: 0 0.6rem;
    border:0.13rem solid #2d343677;
    border-radius: 10px;
    color: #2d3436d4;
}
.container i {
    margin-right: 0.5rem;
}